<ion-view class="history" view-title="История ВУЗа">
  <ion-content class="history__scroll padding">
    <!-- <iframe class="history__iframe" src="http://www.sfugntu.ru/modx/index.php?id=371" frameborder="0"></iframe> -->
    <!-- <ng&#45;include src="'/history/history.html'"></ng&#45;include> -->
  <div class="page">
<div id="main_content">



<h2>История <span style="color: #d24400;">филиала</span></h2>
<h3><span style="color: #008080;">Прошлое и настоящее</span></h3>

<ul style="style-decoration: none;">
  <li><strong>1956 г. </strong>- в Салавате организован учебно-консультационный пункт (УКП) Московского института нефтяной и газовой промышленности имени И.М. Губкина  для вечерней и заочной формы обучения молодёжи, работающей на комбинате № 18 и других предприятиях города.</li>
  <img src="./history/history_files/oldstudy.jpg" alt="" style="width: 250px; height: 170px; border: 1px solid #d24400; margin: 10px;">
  <li><strong>1959 г. </strong>- на базе УКП создан вечерний факультет МИНХ и ГП им. И.М. Губкина. Деканом факультета назначен Арсланов Ахняф Гареевич.</li>
  <li><strong>1962 г. </strong>- Салаватский вечерний факультет передан Уфимскому нефтяному институту. </li>
  <div style="text-align: right;">
  <img src="./history/history_files/oldenter.jpg" alt="" style="width: 250px; height: 170px; border: 1px solid #d24400; margin: 10px;">
  </div>
  <li><strong>1962 г. </strong>- на Учёном совете МИНХ и ГП им. И.М. Губкина защищена первая кандидатская диссертация, подготовленная преподавателем факультета Л.А. Бобровой.</li>
  <li><strong>1962 г. </strong>- состоялся первый выпуск инженеров в количестве 17 человек.</li>
  <li><strong>1971  г. </strong>- приняты в эксплуатацию новые здания факультета (учебный и лабораторный корпуса, гараж и служебные помещения) по адресу: ул. Губкина, 67</li>
  <li><strong>1977 г. </strong>- создана кафедра химико-технологических процессов (кафедра ХТП), которую возглавил С.А. Ахметов.</li>
  <li><strong>1983 г. </strong>- Салаватский вечерний факультет преобразован в Салаватский филиал УНИ. директором  филиала назначен кандидат экономических наук А.Г. Арсланов.</li>
 
  <img src="./history/history_files/arslanov.jpg" alt="" style="width: 150px; height: 190px; border: 1px solid #d24400; margin: 10px;">

  <li><strong>1984 г. </strong>- после ухода на пенсию А.Г. Арсланова директором СФ УНИ становится кандидат технических наук доцент Р.И. Измайлов, работавший до этого заведующим кафедрой ХТП.</li>
  <li><strong>1989 г. </strong>- начата сквозная (с 1-го по 5-ый курс) подготовка специалистов дневной формы обучения по специальностям 25.04 "Химическая технология природных энергоносителей и углеродных материалов" и 17.05 "Машины и аппараты химических производств и предприятий строительных материалов".</li>
  <li><strong>1990 г. </strong>- открыта новая специальность 18.04 "Электропривод и автоматизация промышленных установок и технологических комплексов".</li>
  <li><strong>1991 г. </strong>- под руководством заместителя директора по учебной работе Ф.М. Хазиева разработана и внедрена в учебный процесс рейтинговая система оценки знаний студентов.</li>
  <li><strong>1993 г. </strong>- создана кафедра "Оборудование предприятий нефтехимии и нефтепереработки", которую возглавил доктор технических наук  Г.И. Иванов.</li>
  <li><strong>2002 г. </strong>- директором филиала становится Ф.М. Хазиев.</li>
  <li><strong>2002 г. </strong>- образованы кафедра "Электрооборудование и автоматика промышленных предприятий" (заведующий кафедрой - доктор технических наук М.Г. Баширов) и кафедра "Общенаучные дисциплины" (заведующий кафедрой - кандидат технических наук П.В. Кузьминых).</li>
  <li><strong>2002 г. </strong>- открыта новая специальность 181300 "Электрооборудование и электрохозяйство предприятий, организаций и учреждений).</li>  
</ul>
</div>
 </div>
<!-- END #out -->

  </ion-content>
</ion-view>
