<ion-view view-title="Перечень специальностей и программ специалитета для приема в 2017/2018 учебном году" class="spec">
  <ion-content direction="xy">
  <div id="main_content">
  <h2>Перечень программ </h2><h3><span style="color: #ff6600;"> бакалавриата и специалитета в 2017/18учебном году</span></h3>
  <p><b>Перечень специальностей и программ специалитета для приема в 2017/2018 учебном  году</b></p>
  <table border="1" cellspacing="0">
    <tbody><tr>
     <th style="width: 10%;text-align:center;">Код</th>
     <th style="width: 40%;text-align:center;">Наименование специальности</th>
     <th colspan="2" style="width: 30%;text-align:center;">Наименование программы 
  специалитета</th>
     <th style="width: 20%;text-align:center;">Форма обучения</th>
     <th style="width: 20%;text-align:center;">Перечень вступительных испытаний</th>
    </tr>
  <tr>
     <td rowspan="3"><center>21.05.06</center></td>
     <td rowspan="3">Нефтегазовые техника и технологии</td>
     <td>АГ</td>
     <td>Системы автоматизации и управления в нефтегазовой промышленности</td>
     <td>З</td>
     <td>М, Ф, РЯ </td>
    </tr>
  <tr><td>ГГ</td>
     <td>Разработка и эксплуатация нефтяных и газовых месторождений</td>
     <td>О,З</td>
     <td>М, Ф, РЯ </td>
    </tr>
  <tr><td>ГC</td>
     <td>Эксплуатация сетей газораспределения и газопотребления </td>
     <td>З</td>
     <td>М, Ф, РЯ </td>
    </tr>
  </tbody></table>
  <br><br>
  <p><b>Перечень направлений подготовки и программ бакалавриата для приема в 2017/2018 учебном  году </b></p>
  <table border="1" cellspacing="0">
    <tbody><tr>
     <th style="width: 10%;text-align:center;">Шифр</th>
     <th style="width: 40%;text-align:center;">Направление подготовки</th>
     <th colspan="2" style="width: 30%;text-align:center;">Наименование программы <br>бакалавриата</th>
     <th style="width: 20%;text-align:center;">Форма обучения</th>
     <th style="width: 20%;text-align:center;">Перечень вступительных испытаний</th>
    </tr>
   <tr>
     <td><center>09.03.01</center></td>
     <td>Информатика и вычислительная техника</td>
     <td style="width: 20%;text-align:center;">БАБ</td>
     <td>Автоматизированное управление бизнес-процессами и финансами</td>
     <td>О</td>
     <td>М, И, РЯ</td>
    </tr>
   <tr>
     <td><center>13.03.02</center></td>
     <td>Электроэнергетика и электротехника</td>
     <td style="width: 20%;text-align:center;">БАЭ</td>
     <td>Электрооборудование и электрохозяйство предприятий, организаций и учреждений</td>
     <td>О,З</td>
     <td>М, Ф, РЯ </td>
    </tr>
    <tr>
     <td><center>15.03.04</center></td>
     <td>Автоматизация технологических процессов и производств</td>
     <td style="width: 20%;text-align:center;">БАТп</td>
     <td>Автоматизация технологических процессов и производств (в нефтепереработке и нефтехимии)</td>
     <td>О,З </td>
     <td>М, Ф, РЯ </td>
    </tr>
     <tr>
     <td rowspan="2"><center>18.03.01</center></td>
     <td rowspan="2">Химическая технология</td>
     <td style="width: 20%;text-align:center;">БТП</td>
     <td>Химическая технология природных энергоносителей и углеродных материалов</td>
     <td>ОЗ </td>
     <td>Х, М, РЯ</td>
    </tr>
   <tr>
     <td style="width: 20%;text-align:center;">БТПп</td>
     <td>Химическая технология природных энергоносителей и углеродных материалов</td>
     <td>О,З </td>
     <td>Х, М, РЯ</td>
  </tr>
  <tr>
     <td><center>18.03.02</center></td>
     <td>Энерго- и ресурсосберегающие процессы в химической технологии, нефтехимии и биотехнологии</td>
     <td style="width: 20%;text-align:center;">БМА</td>
     <td>Машины и аппараты химических производств</td>
     <td>О,З </td>
     <td>М, Ф, РЯ</td>
    </tr>
  
    
  </tbody></table>
  <br>
  </div>
  </ion-content>
</ion-view>
